<!doctype html>
<html>
  <head>
    <title>Launcher UI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="/css/launcherView.css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="launcherDiv" class="container-fluid">
        {% include "src/web-files/templates/partials/simulatorsDiv.html" %}
        {% include "src/web-files/templates/partials/runSetsDiv.html" %}
    </div>
          
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap-3.3.7.min.js"></script>    
    <script src="/js/vue.global-3.4.38.min.js"></script>
    <script src="/js/filesaver.js"></script>
    <script type="module">
        import {RunSetsView} from "./js/runSetsView.js";
        import {SimulatorsView} from "./js/simulatorsView.js";

        new RunSetsView("runSetsDiv").init();
        new SimulatorsView("simulatorsDiv").init();
    </script>
  </body>
</html>