.simulationsDiv .top,
.simulatorsDiv .top {
    margin-top:2em; 
}

.simulationsDiv .selected {
    background-color: #d9edf7
}

.simulationsDiv #simulationsTable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.simulationsDiv #simulationsTable td,
.simulationsDiv #simulationsTable th {
        white-space: pre
}

.simulatorsDiv ul,
.simulationsDiv ul {
    list-style: none;
}