{% raw  %}
        <div id="runSetsDiv" class="runSetsDiv top">
            <h3>Sets of simulations </h3>
            <!-- Runs Sets Table Panel -->
            <div class="row top">
                <ul id="runSets">
                    <li v-for="runSet in runSets">
                        <a v-bind:href="'./simulations?setId='+ runSet">{{ runSet }}</a>
                    </li>
                </ul>
            </div>

        </div>
{% endraw  %}
