{% raw  %}
        <div id="simulationsDiv" class="simulationsDiv top">
            <!-- Simulations Buttons Panel -->
            <div class="row top" v-show="rowsLength">
                <div class="btn-group col-sm-12">

                    <!-- 'Assign a simulator' dropdown button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Assign a simulator <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li v-for="simulator in simulators">
                                <a v-on:click="assignSimulator(simulator.id)" href="#">{{ simulator.config_name }}</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 'Execute' dropdown button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Execute <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li v-for="runAction in runActions">
                                <a v-on:click="executeRunAction(runAction.id)" href="#">{{ runAction.label }}</a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>

            <!-- Simulations Table Panel -->
            <div class="row top" v-show="rowsLength">
                <div class="table-responsive col-sm-12">
                    <table id="simulationsTable" class="table table-condensed">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>       
                    </table>
                </div>
            </div>

            <!-- LoginPassword Modal Dialog -->
            <div class="modal fade" id="LogPwdDialog" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" v-on:click="closeLogPwdDialog">&times;</button>

                            <div v-if="logPwdDialog == 'LoginPassword'">
                                <h4 class="modal-title">Ssh Connection Information for {{ logPwdSimulator.host }}</h4>
                            </div>
                        </div>
                        <div class="modal-body">

                            <div v-if="logPwdDialog == 'LoginPassword'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="login">Login</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="login" placeholder="login" v-model="login">
                                            <small id="loginHelp" class="form-text text-muted">User name used to access to simulator host.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="password">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control form-control-sm" id="password" placeholder="password" v-model="password">
                                            <small id="passwordHelp" class="form-text text-muted">Password used to access to simulator host. <span id="lgPwdstatus" class=".is-invalid"></span></small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>

                        <div class="modal-footer">
                            <div v-if="logPwdDialog == 'LoginPassword'">
                                <button class="button btn btn-primary" v-on:click="submitLoginPassword">Ok</button>
                                <button class="button btn btn-warning" v-on:click="cancelLoginPassword">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endraw  %}
