{% raw  %}
        <div id="simulatorsDiv" class="simulationsDiv top">
            <!-- Button 'Simulator Configurations' -->
            <div class="row top">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info col-sm" data-target="#MultiModalDialog" v-on:click="openMultiModalDialog('SimulatorConfigurations')">
                        Simulator Configurations
                    </button>
                </div>
                <div class="col-sm-12">
                    <small id="protocolVersion" class="form-text text-muted">Protocol version: {{ protocolVersion }}</small>
                </div>
            </div>

            <!-- Multi Modal Dialog -->
            <div class="modal fade" id="MultiModalDialog" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" v-on:click="closeMultiModalDialog">&times;</button>

                            <div v-if="multiModalDialog == 'SimulatorConfigurations'">
                                <h4 class="modal-title">Simulator Configurations</h4>
                            </div>

                            <div v-if="multiModalDialog == 'ImportSimulatorConfigurations'">
                                <h4 class="modal-title">Import Simulator Configurations</h4>
                            </div>

                            <div v-if="multiModalDialog == 'EditStoringDir'">
                                <h4 class="modal-title">Edit Storing directory</h4>
                            </div>

                            <div v-if="multiModalDialog == 'EditSimulatorConfig'">
                                <h4 class="modal-title">Edit Simulator Configuration</h4>
                            </div>

                            <div v-if="multiModalDialog == 'BrowseSimulatorExeFile'">
                                <h4 class="modal-title">Browse Simulator executable file</h4>
                            </div>

                            <div v-if="multiModalDialog == 'BrowseInputFileDir'">
                                <h4 class="modal-title">Browse Input file directory</h4>
                            </div>
                            
                            <div v-if="multiModalDialog == 'BrowseStoringDir'">
                                <h4 class="modal-title">Browse Storing directory</h4>
                            </div>
                            
                            <div v-if="multiModalDialog == 'HostDefinition'">
                                <h4 class="modal-title">Host Definition</h4>
                            </div>
                        </div>
                        <div class="modal-body">

                            <!-- v-if="multiModalDialog == 'SimulatorConfigurations'" -->
                            <div v-if="multiModalDialog == 'SimulatorConfigurations'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="storingDir">Storing Directory</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm col-sm" id="storingDir" placeholder="../runningDir" v-model="storingDir" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm btn-info btn-block" v-on:click="openMultiModalDialog('EditStoringDir')">
                                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                                    </button>
                                                </span>
                                            </div>
                                            <small id="storingDirHelp" class="form-text text-muted">Directory where the input and output files of the simulations will be stored (reference for relative paths is the 'main' execution directory).</small>
                                        </div>
                                    </div>
                                </form>
                
                                <div class="row top">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-sm btn-info" v-on:click="addSimulator">
                                            <span class="glyphicon glyphicon-plus"></span> New configuration
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="table-responsive col-sm-12">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-4">Name</th>
                                                    <th class="col-sm-6">Executable File</th>
                                                    <th class="col-sm-1"></th>
                                                    <th class="col-sm-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="simulator in simulators">
                                                    <td>{{ simulator.config_name }}</td>
                                                    <td>{{ simulator.simulator_exe }}</td> 
                                                    <td>
                                                        <button class="btn btn-sm btn-info btn-block" v-on:click="editSimulator(simulator)">
                                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-danger btn-block" v-on:click="removeSimulator(simulator)">
                                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>  
                                            </tbody>       
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-primary" v-on:click="exportConfigs">
                                                <span class="glyphicon glyphicon-upload"></span> Export
                                            </button>
                                            <button class="btn btn-sm btn-danger" v-on:click="openConfsFileChooser">
                                                <span class="glyphicon glyphicon-download"></span> Import
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="file" id="importSelect" name="importSelect" style="display: none;">
                            </div>
                            <!-- End v-if="multiModalDialog == 'SimulatorConfigurations'" -->

                            <!-- v-if="multiModalDialog == 'ImportSimulatorConfigurations'" -->
                            <div v-if="multiModalDialog == 'ImportSimulatorConfigurations'">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading"><span class="glyphicon glyphicon-alert"></span> Do you want to use the storingDir specified in the file?</h4>
                                    <p class="mb-0">If the simulators use relative paths, this choice may be important.</p>
                                </div>
                            </div>
                            <!-- End v-if="multiModalDialog == 'ImportSimulatorConfigurations'" -->

                            <!-- v-if="multiModalDialog == 'EditStoringDir'" -->
                            <div v-if="multiModalDialog == 'EditStoringDir'">
                                <div class="form-group">
                                    <div class="input-group input-group-sm col-12">
                                        <input type="text" class="form-control form-control-sm" id="editedStoringDir" placeholder="../runningDir" v-model="editedStoringDir">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn col-sm" v-on:click="editDir(editedStoringDir, 'BrowseStoringDir')">Browse</button>
                                        </span>
                                    </div>
                                    <small id="storingDirHelp" class="form-text text-muted">Directory where the input and output files of the simulations will be stored (reference for relative paths is the 'main' execution directory).</small>
                                </div>
                            </div>
                            <!-- End v-if="multiModalDialog == 'EditStoringDir'" -->

                            <!-- v-if="multiModalDialog == 'EditSimulatorConfig'" -->
                            <div v-if="multiModalDialog == 'EditSimulatorConfig'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="configName">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="configName" placeholder="Simulator1" v-model="config_name">
                                            <small id="configNameHelp" class="form-text text-muted">This name will be used to identify this simulator.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="configDescr">Description</label>
                                        <div class="col-sm-9">
                                            <textarea rows="5" cols="33" class="form-control form-control-sm" id="configDescr" placeholder="A description of this simulator" v-model="config_descr"></textarea>
                                            <small id="configDescrHelp" class="form-text text-muted">This description can be used to add some information describing this simulator.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="exeFileName">Executable file </label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <input type="text" class="form-control form-control-sm" id="exeFileName" placeholder="exeFileName.exe" v-model="simulator_exe">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-info btn col-sm" v-on:click="editDir(simulator_exe, 'BrowseSimulatorExeFile')">Browse</button>
                                                </span>
                                            </div>
                                            <small id="exeFileNameHelp" class="form-text text-muted">Full name of the executable simulator file (reference for relative paths is the 'main' execution directory).</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="argument">Argument</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="argument" placeholder="arg1 arg2" v-model="argument">
                                            <small id="argumentHelp" class="form-text text-muted">This string will be sent as argument to the executable simulator file.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="hostDescription">Host</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <input type="text" class="form-control form-control-sm" id="hostDescription" v-model="host_description" readonly>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-info btn col-sm" v-on:click="openHostDefinitionDialog()">Edit</button>
                                                </span>
                                            </div>
                                            <small id="hostDescriptionHelp" class="form-text text-muted">Information about the host used to run simulations.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="vectorSupport">Vector support</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" class="col-sm" id="vectorSupport" v-model="vector_support">
                                                </span>
                                                <input type="number" class="form-control form-control-sm" id="vectorSize" v-model="vector_size">
                                            </div>
                                            <small id="vectorSupportHelp" class="form-text text-muted">Indicate whether Y can be calculated 'by block' and what the maximum number of lines per block is.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="clusterSize">Simultaneous runs</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control form-control-sm" id="clusterSize" v-model="cluster_size">
                                            <small id="clusterSizeHelp" class="form-text text-muted">Max number of simulations which can be run in parallel.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="simulationDir">Input files directory</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <input type="text" class="form-control form-control-sm" id="simulationDir" placeholder="input/files/simulation/directory" v-model="simulation_dir">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-info btn col-sm" v-on:click="editDir(simulation_dir, 'BrowseInputFileDir')">Browse</button>
                                                </span>
                                            </div>
                                            <small id="simulationDirHelp" class="form-text text-muted">Directory where to find the input files of the simulator (reference for relative paths is the 'main' execution directory).</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="simulationParamFiles">Input files with parameters</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <input type="text" class="form-control form-control-sm" id="simulationParamFiles" placeholder="fileName1;fileName2" v-model="simulation_param_files">
                                                <span class="input-group-btn">
                                                    <label for="paramFilesSelect" class="browse btn btn-info input" type="button" v-on:change="changeInputParamFiles()">
                                                        Browse <input type="file" id="paramFilesSelect" name="paramFilesSelect" style="display: none;" multiple>
                                                    </label>
                                                </span>
                                            </div>
                                            <small id="simulationParamFilesHelp" class="form-text text-muted">Specify input files which contain parameters to process.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="simulationDataFiles">Input files without parameter</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm col-12">
                                                <input type="text" class="form-control form-control-sm" id="simulationDataFiles" placeholder="fileName1;fileName2" v-model="simulation_data_files">
                                                <span class="input-group-btn">
                                                    <label for="dataFilesSelect" class="browse btn btn-info input" type="button" v-on:change="changeInputDataFiles()">
                                                        Browse <input type="file" id="dataFilesSelect" name="dataFilesSelect" style="display: none;" multiple>
                                                    </label>
                                                </span>
                                            </div>
                                            <small id="simulationDataFilesHelp" class="form-text text-muted">Specify which input files which don't contain parameters to process.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="resFileName">Results file name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="resFileName" v-model="result_file_name">
                                            <small id="resFileNameHelp" class="form-text text-muted">Name of the file containing the results (a 'csv' file located in the simulation directory).</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="resCount">Number of columns of results file</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="resCount" v-model="res_count">
                                            <small id="resCountHelp" class="form-text text-muted">Number of columns to be found in 'Results file' (a number for a scalar outputs; or an array of numbers [,] for functional outputs, where each value is the number of columns to be found for a specific functional output; or an array mixing the two previous forms).</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End v-if="multiModalDialog == 'EditSimulatorConfig'" -->

                            <!-- v-if="multiModalDialog == 'BrowseSimulatorExeFile'" -->
                            <div v-if="multiModalDialog == 'BrowseSimulatorExeFile'">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" id="editedExeFile" v-bind:value="editedDir" readonly>
                                    <ul>
                                        <li v-for="file in editedChildren">
                                            <a v-on:click="clickExeFile(file)" href="#">
                                                <span v-bind:class="'glyphicon glyphicon-' + (file.name=='..' ? 'level-up' : (file.isDirectory ? 'folder-open' : 'file'))" ></span> {{ file.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End v-if="multiModalDialog == 'BrowseSimulatorExeFile'" -->
                            
                            <!-- v-if="multiModalDialog == 'BrowseInputFileDir'" -->
                            <div v-if="multiModalDialog == 'BrowseInputFileDir'">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" id="editedInputDir" v-bind:value="editedDir" readonly>
                                    <ul>
                                        <li v-for="file in editedChildren">
                                            <a v-on:click="clickDir(file)" href="#">
                                                <span v-bind:class="'glyphicon glyphicon-' + (file.name=='..' ? 'level-up' : (file.isDirectory ? 'folder-open' : 'file'))" ></span> {{ file.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End v-if="multiModalDialog == 'BrowseInputFileDir'" -->
                                
                            <!-- v-if="multiModalDialog == 'BrowseStoringDir'" -->
                            <div v-if="multiModalDialog == 'BrowseStoringDir'">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" id="editedStoringDir" v-bind:value="editedDir" readonly>
                                    <ul>
                                        <li v-for="file in editedChildren">
                                            <a v-on:click="clickDir(file)" href="#">
                                                <span v-bind:class="'glyphicon glyphicon-' + (file.name=='..' ? 'level-up' : (file.isDirectory ? 'folder-open' : 'file'))" ></span> {{ file.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End v-if="multiModalDialog == 'BrowseStoringDir'" -->
                            
                            <!-- v-if="multiModalDialog == 'HostDefinition'" -->
                            <div v-if="multiModalDialog == 'HostDefinition'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="hostName">Host name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="hostName" placeholder="localhost" v-model="editedHostName">
                                            <small id="hostNameHelp" class="form-text text-muted">Name of the host which have to run simulations.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="host">Port</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="port" placeholder="22" v-model="editedPort">
                                            <small id="portHelp" class="form-text text-muted">Port used to contact the host (used if 'host' is not 'localhost').</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="runningDir">Running directory</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="runningDir" placeholder="/running/dir" v-model="editedRunningDir">
                                            <small id="runningDirHelp" class="form-text text-muted">Directory where the simulations will be run (used if 'host' is not 'localhost').</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End v-if="multiModalDialog == 'HostDefinition'" -->
                            
                        </div>

                        <div class="modal-footer">
                            <div v-if="multiModalDialog == 'SimulatorConfigurations'">
                                <button class="button btn btn-warning" data-dismiss="modal">Close</button>
                            </div>

                            <div v-if="multiModalDialog == 'ImportSimulatorConfigurations'">
                                <button class="button btn btn-primary" v-on:click="importSimulatorConfigurations(true)">Yes</button>
                                <button class="button btn btn-primary" v-on:click="importSimulatorConfigurations(false)">No</button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Cancel</button>
                            </div>

                            <div v-if="multiModalDialog == 'EditStoringDir'">
                                <button class="button btn btn-primary" v-on:click="submitStoringDir">
                                    <span class="glyphicon glyphicon-send"></span> Submit Change
                                </button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Dismiss</button>
                            </div>

                            <div v-if="multiModalDialog == 'EditSimulatorConfig'">
                                <button class="button btn btn-primary" v-on:click="submitSimulatorChanges">
                                    <span class="glyphicon glyphicon-send"></span> Submit Changes
                                </button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Dismiss</button>
                            </div>

                            <div v-if="multiModalDialog == 'BrowseSimulatorExeFile'">
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Close</button>
                            </div>

                            <div v-if="multiModalDialog == 'BrowseInputFileDir'">
                                <button class="button btn btn-primary" v-on:click="changeInputDir">Ok</button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Cancel</button>
                            </div>

                            <div v-if="multiModalDialog == 'BrowseStoringDir'">
                                <button class="button btn btn-primary" v-on:click="changeStoringDir">Ok</button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Cancel</button>
                            </div>

                            <div v-if="multiModalDialog == 'HostDefinition'">
                                <button class="button btn btn-primary" v-on:click="changeHostDefinition">Ok</button>
                                <button class="button btn btn-warning" v-on:click="closeMultiModalDialog">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endraw  %}
