.shiny-progress {
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -500px !important; 
  color: black;
  font-size: 20px;
  font-style: italic;
}
.modal-sm {
  width: 100%;
}
body {
  padding-top: 140px;
}
